fastapi
uvicorn
pydantic
python-multipart
python-dotenv

streamlit
requests

chromadb

sentence-transformers
torch
transformers
accelerate
bitsandbytes

pymupdf
pypdf
python-docx
python-pptx
openpyxl

opencv-python
Pillow

langchain
langchain-community
langsmith
